<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="static/css/faq.css">
</head>
<body>
    <h1>Frequently Asked Questions</h1>

<div class="faq-section">
    <h3>Q: How do I create an account?</h3>
    <p>A: Click the "Sign Up" button in the top right corner and follow the registration process.</p>

    <h3>Q: What payment methods do you accept?</h3>
    <p>A: We accept credit cards, debit cards only due comapny Finance Policy. All the payment details are recorded.</details></p>

    <h3>Q: How can I reset my password?</h3>
    <p>A: Click "Forgot Password" on the login page and follow the instructions sent to your email.</p>

    <h3>Q: How do I contact customer support?</h3>
    <p>A: You can reach us through our contact form or email us at support@internmatch.com</p>
</div>
<a id="back-btn" href="/">
    <button>Back to Main page</button>
</a>
</body>
</html>